.layout-wrapper {
  display: flex;
  height: 100vh;
  background-color: #f9f9f9;
  overflow: hidden;
}

.sidebar {
  width: 64px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-right: 1px solid #e0e0e0;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.05);
  height: 100%; /* <- ESSENCIAL */
  position: fixed; /* opcional para manter fixo ao rolar */
  top: 0;
  left: 0;
  z-index: 10;
}

.main-content {
  flex: 1;
  margin-left: 64px; /* igual à largura da sidebar */
  overflow-y: auto;
  background-color: #fff;
  height: 100vh;
}


.logo {
  color: #007bff;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menu-icon {
  color: #777;
  padding: 0.6rem;
  border-radius: 8px;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-icon:hover {
  background-color: #f1f1f1;
  color: #000;
}

.menu-icon.active {
  background-color: #e7f0ff;
  color: #007bff;
}

.sidebar-footer {
  padding-bottom: 1rem;
}

.logout-button {
  background-color: transparent;
  color: #555;
  padding: 6px 12px;
  font-size: 0.85rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background 0.2s ease, color 0.2s ease;
}

.logout-button:hover {
  background-color: #f0f0f0;
  color: #000;
}




